.force-wrapped-row-fill > div {
  width: 100% !important;
}

.underline-hover:hover {
  text-decoration: underline;
}

.circular-image img {
  border-radius: 100%;
}

.icon-hover-target {
  transition: 0.2s ease;
  transition-property: fill, stroke;
}

.icon-white-hover:hover .icon-hover-target {
  fill: white;
}

.icon-white-hover-stroke:hover .icon-hover-target {
  stroke: white;
}

.icon-black-hover:hover .icon-hover-target {
  fill: black;
}

/* responsive */

.show-on-desktop {
  display: none !important;
}

@media (min-width: 1000px) {
  .show-on-desktop {
    display: initial !important;
  }
}

@media (min-width: 999px) {
  .hide-on-desktop {
    display: none !important;
  }
}

/* animations */

@keyframes yoyo {
  0% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(90px)
  }
  100% {
    transform: translateX(0px)
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bold-override div div {
  font-weight: bold;
  color: rgb(56, 58, 60);
}